# Refer to https://github.com/instadeepai/Mava/blob/develop/setup.py

# Miscell
absl-py
dm_env
dm-tree
numpy==1.22.4
pillow
matplotlib
dataclasses
box2d-py
gym<=0.23.0
importlib-metadata<5.0
typing-extensions

# Tensorflow Requirements
tensorflow==2.8.4
# tensorflow==2.12.0
tensorflow_probability==0.16.0
dm-sonnet
dm-launchpad
dm-acme==0.4.0
trfl
chex
dm-reverb==0.7.2
tf-agents[reverb]==0.12.1

# Jax Requirements
jax==0.3.24
jaxlib==0.3.24
dm-haiku==0.0.8
flax
optax
rlax
networkx

# Testing Formatting Requirements
# pytest==7.2.0
pytest==4.6.11
pre-commit
mypy==0.981
pytest-xdist
flake8==3.8.2
black==22.3.0
pytest-cov
interrogate
pydocstyle
types-six

# Record episode requirements 
array2gif 
pyglet

# Flatland_requirements
# flatland-rl==3.0.1

# PettingZoo Requirements
pettingzoo==1.17.0
multi_agent_ale_py
supersuit==3.3.4
pygame
pysc2

